* {
    box-sizing: border-box;
  }

/*==================================== Navigation Bar =========================================*/
button:focus{
    outline: none;
}

body {
    font-family: sans-serif;
    margin: 0px;
    background-color: #434343;
}

.nav {
    overflow: hidden;
    background-color: rgb(36, 34, 34);
}
  
.menu a {
    float: left;
    font-size: 13pt;
    color: white;
    text-align: center;
    padding: 3px 25px;
    text-decoration: none;
    margin-top: 55px;
}

.loginbtn{
    float: left;
    padding: 0px;
    margin-top: 40px;
    overflow: hidden;
}

.loginbtn > img {
    width: 90%;
}

.regisbtn {
    float: left;
    padding: 0px;
    margin-top: 42px;
    margin-left: -20px;
    margin-right: 25px;
    overflow: hidden;
}

.regisbtn > img {
    width: 90%;
    height: auto;
}

.nav .logo img {
    width: 220px;
    float: left;
    text-align: center;
    overflow: hidden;
    margin: 20px 30px;
}

.loginreg {
    float: right;
}

.loginreg a {
    margin-right: 30px;
}

.loginreg a:hover{
    opacity: 0.8;
}

.homelink {
    border-style: solid;
    border-width: 0px 2px 0px 0px;
    margin-left: 20px;
}

.musicgenredropdown {
    margin-top: 55px;
    float: left;
    overflow: hidden;
}

.musicgenredropdown:hover .dropdownbtn, .dropdowncontent a:hover {
    background-color: #5c5c5c;
    color: white;
}

.dropdownbtn {
    font-size: 13pt;  
    border: none;
    outline: none;
    color: white;
    padding: 3px 25px;
    background-color: inherit;
}

.dropdowncontent {
    display: none;
    position: absolute;
    background-color: #ddd;
    min-width: 163.5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdowncontent a {
    float: none;
    color: black;
    margin-top: 0px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.musicgenredropdown:hover .dropdowncontent {
    display: block;
}
/*======================================== Navigation Bar End ===================================*/


/*======================================== Header =====================================*/
.header {
    position: relative;
    max-width: 100%;
    overflow: hidden;
}

.header > h1 {
    text-align: center;
    color: white;
}

/*====================================== Header End ===========================*/


/*====================================== Content ===============================*/
.content {
    display: block;
    background-color: rgb(36, 34, 34);
    position: relative;
    max-width: 100%;
    
}

#songlist {
    list-style-type: none;
    padding: 15px 30px;
    display: flex;
    flex-flow: row wrap;
}

.songdetails {
    margin-right: 80px;
    color: white;
}

#songlist li img {
    width: 185px;
    height: 185px;
}

#title {
    margin-top: 5px;
    margin-bottom: 0;
    width: 190px;
}

#artist {
    margin-top: 7px;
    color: rgb(138, 138, 138);
    width: 175px;
    /*white-space: nowrap;
    height: 15%;
    overflow: hidden;
    text-overflow: ellipsis;*/
}

#songlist .songdetaillast{
    border: none;
    color: white;
}

.genre p{
    border-style: solid;
    border-color: white;
    border-width: 1px 0px 0px;
    margin: 0;
    padding: 20px 30px 0;
    font-size: 32pt;
    font-weight: bold;
    color: white;
}

.firstgenre {
    border: none !important;
}
/*====================================== Content End =============================================*/



/*=========================================== Footer ===================================================*/
.footer {
    bottom: 0;
    background-color: #434343;
    padding: 30px 30px 20px;
}

.footer span {
    float: left;
    width: 50%;
    font-size: 18pt;
    font-weight: bold;
    font-stretch: ultra-condensed;
}

.footer a img {
    padding-bottom: 10px;
    float: right;
    width: 50px;
    margin-top: -15px;
    margin-right: 25px;
}
/*======================================= Footer End =====================================*/



/* =============== RESPONSIVE CSS ================= */


@media only screen and (max-width: 800px){ 
    .nav {
        justify-content: flex-end;
    }
    
    .content {
        justify-content: flex-start;
    }

    .genre ul li img {
        width: 120px !important;
        height: 120px !important;
    }

    .genre ul li {
        margin-right: 30px;
    }

    .nav .logo img {
        margin-right: 57%;
        position: relative;
        display: block;
    }

    .menu {
        margin-left: 10px;
    }

    #songlist li #title{
        font-size: 12pt;
    }

    #songlist li h2{
        font-size: 10pt;
    }

    .advantages {
        width: 100%;
    }

    .package {
        width: 75%;
        margin: 20px 75px 30px 90px;
    }

    .package li {
        font-size: 16pt;
    }

    
}

/* =============== RESPONSIVE WEB ================= */